@charset "UTF-8";

:root {
   --link-dr-color: #000;
   --font-color: #000;
   --bg-color: #f8f9fa;
   --selection-bg-color: #66bb6a;
   --article-oq-fon: #fff;
} [data-theme="dark"] {
   --link-dr-color: #fff;
   --font-color: #fff;
   --bg-color: #000;
   --article-oq-fon: #000;
}

body {
   background-color: var(--bg-color);
   color: var(--font-color);
   padding-bottom: 20px
}

a {
   color: var(--link-dr-color);
   text-decoration: none
} a:hover {
  color: #66bb6a
}

.navbar {
  margin-bottom: 20px
}

.theme-switch-wrapper {
   display: flex;
   align-items: center
} .theme-switch {
   display: inline-block;
   position: relative;
   margin: 5px 11px;
   width: 60px;
   height: 34px
} .theme-switch input {
   display: none
} .slider {
   background-color: #ccc;
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: 0.4s
} .slider:before {
   background-color: var(--bg-color);
   bottom: 4px;
   content: "";
   height: 26px;
   left: 4px;
   position: absolute;
   transition: 0.4s;
   width: 26px
} input:checked + .slider {
   background-color: #66bb6a
} input:checked + .slider:before {
   transform: translateX(26px)
} .slider.round {
   border-radius: 34px
} .slider.round:before {
   border-radius: 50%
}

.radius {
	border-radius: 10px
}

.salom-html {
  background: url("../img/html.png") top left no-repeat;
  background-size: cover;
  color: #fff;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  padding: 20px;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--font-color);
} .card:hover .overlay {
opacity: 1
}

.oq-fon, .content {
   background-color: var(--article-oq-fon);
   color: var(--font-color);
   padding: 5px 10px
}

::selection {
  background-color: var(--selection-bg-color)
} ::-moz-selection {
  background-color: var(--selection-bg-color)
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
} ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
} ::-webkit-scrollbar-corner {
  background: transparent;
} ::-webkit-scrollbar-thumb {
  background-color: var(--selection-bg-color);
  border: 0px none #ffffff;
  border-radius: 50px;
} ::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  border: 0px dashed #ffffff;
  border-radius: 22px;
}
