@charset "UTF-8";

:root {
   --link-dr-color: #000;
   --font-color: #000;
   --bg-color: #fff;
   --selection-bg-color: #66bb6a;
} [data-theme="dark"] {
   --link-dr-color: #fff;
   --font-color: #fff;
   --bg-color: #000;
}

body {
   background-color: var(--bg-color);
   color: var(--font-color);
   padding-bottom: 20px
}

a {
   color: var(--link-dr-color);
   text-decoration: none
}

.navbar {
  margin-bottom: 20px
}

.theme-switch-wrapper {
   display: flex;
   align-items: center
} .theme-switch {
   display: inline-block;
   position: relative;
   margin: 5px 11px;
   width: 60px;
   height: 34px
} .theme-switch input {
   display: none
} .slider {
   background-color: #ccc;
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: 0.4s
} .slider:before {
   background-color: var(--bg-color);
   bottom: 4px;
   content: "";
   height: 26px;
   left: 4px;
   position: absolute;
   transition: 0.4s;
   width: 26px
} input:checked + .slider {
   background-color: #66bb6a
} input:checked + .slider:before {
   transform: translateX(26px)
} .slider.round {
   border-radius: 34px
} .slider.round:before {
   border-radius: 50%
}

.radius {
	border-radius: 10px
}

.salom-html {
  background: url("../img/html.png") top left no-repeat;
  background-size: cover;
  color: #fff;
  /* height: 70vh */
}

::selection {
  background: var(--selection-bg-color)
} ::-moz-selection {
  background: var(--selection-bg-color)
}
